.title_form{
     border-radius: 6px 10px 0 0 ;
     color:aliceblue;
      border: 2px solid #b7b9c5;
      background-color: #060363;
      padding-top: 5px;

}
.notification{
      color:white;
     margin-top:20px;
     padding-bottom: 70px;
     font-size: 18px;
     padding-top:20px;
}
.bgm{
      background-color:#b7b9c5
}
button{
background-color: #1C732F;
color:white;
/* border-radius: 50px; */
}
button:hover{
      background-color: #2c9242;
      color:white
      }
form{
      border-radius: 12px;
      border: 2px solid #d4d9dd;
      background-color: rgb(25, 32, 32);
     
}
.coltex{
      background-color:#30484B
}
input[type="text"]::placeholder{
      color: rgb(255, 255, 255)
}
input[type="text"]{
      color:white
}


    
body{
      background-color:#090B34;
}
.wbtn{
      width:12%
}